.Medium {
    border-bottom: 3px solid transparent;
    @include transition();

    &::after {
        content: '\f14b';
        display: inline-block;
        font: normal normal normal rem(settings(font, size, default))/1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        line-height: 1;
        position: absolute;
        top: 0;
        right: rem(-16);
        color: settings(font, color, secondary);
        text-shadow: none;
    }

    &:focus {
        border-color: settings(layout, color, secondary);
    }
}
