.modal {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    background-color: settings(layout, color, primary);
    height: 0;
    width: 0;
    border-radius: 0 100% 100% 0;
    z-index: -1;
    @include transition();

    &-show {
        height: 100%;
        width: 100%;
        transform: none;
        border-radius: 0;
        z-index: 2;
    }

    &__container {
        display: block;
        margin: auto;
        max-width: rem(settings(layout, view, small));
        width: 100%;
        padding: rem(16);
    }

    &-inner {
        opacity: 0;
        @include transition();

        &-show {
            opacity: 1;
        }
    }

    &__close {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        border-top: rem(64) solid settings(layout, color, secondary);
        border-left: rem(64) solid transparent;
        text-align: center;

        &-icon {
            pointer-events: none;
            position: absolute;
            top: rem(8);
            right: rem(8);
            color: settings(font, color, primary);
        }
    }

    &__txt {
        display: block;
        text-align: center;
    }
}
