<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Garrett Shipp | Full Stack Web Developer - @ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    <div class="container container__body">
        <div id="error">
            <div class="container container__content">
                <div class="container__wrap">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</body>
</html>